@using Sandbox.UI;

@namespace MightyBrick.GraveQuest.UI
@inherits PanelComponent

<root>
    <h2>PAUSED</h2>
    <div class="options">
        <p>Resume</p>
        <p>Quit</p>
    </div>
</root>

@code
{
	//protected override int BuildHash() => System.HashCode.Combine( );
}
