@using Sandbox.UI;

@namespace MightyBrick.GraveQuest.UI
@inherits PanelComponent

<root>
    <h2>PAUSED</h2>
    <div class="options">
        <Button Text="Resume" OnClick=@(() => GameManager.Instance.ToggleEscapeMenu()) />
        <Button Text="Options" OnClick=@(() => Log.Info("Options")) />
        <Button Text="Quit" OnClick=@(() => GameManager.Instance.LoadMainMenuScene()) />
    </div>
</root>

@code
{
	//protected override int BuildHash() => System.HashCode.Combine( );
}
