Timer 
{
	position: absolute;
	justify-content: center;
    align-items: center;
	top: 64px;
	left: 0px;
	right: 0px;

	label {
		font-family: FredokaOne-Regular;
		font-size: 48px;
		color: white;
	}
}

Score 
{
	position: absolute;
	justify-content: center;
    align-items: center;
	top: 64px;
	left: 128px;

	label {
		font-family: FredokaOne-Regular;
		font-size: 48px;
		color: white;
		text-shadow: 4px 4px 1px #00000;
		padding-left: 12px;
	}

	image {
        width: 96px;
        height: 96px;
		background-size: cover;
		background-repeat: no-repeat;
    }
}

GameOver 
{
	position: absolute;
	justify-content: center;
    align-items: center;
	top: 0px;
	bottom: 128px;
	left: 0px;
	right: 0px;

	label {
		font-family: FredokaOne-Regular;
		font-size: 64px;
		color: white;
		text-shadow: 4px 4px 1px #00000;
	}
}