Timer {
	position: absolute;
	justify-content: center;
	align-items: center;
	top: 64px;
	left: 0px;
	right: 0px;

	label {
		font-family: FredokaOne-Regular;
		font-size: 48px;
		color: white;
		text-shadow: 0px 0px 10px rgba( black, 0.6 );
		text-stroke-color: #000000;
		text-stroke-width: 12px;
	}
}

Score {
	position: absolute;
	justify-content: center;
	align-items: center;
	top: 64px;
	left: 128px;

	label {
		font-family: FredokaOne-Regular;
		font-size: 48px;
		text-shadow: 0px 0px 10px rgba( black, 0.6 );
		text-stroke-color: #000000;
		text-stroke-width: 12px;
		color: white;
		padding-left: 12px;
	}

	image {
		width: 96px;
		height: 96px;
		background-size: cover;
		background-repeat: no-repeat;
	}
}

GameOver {
	position: absolute;
	justify-content: center;
	align-items: center;
	top: 0px;
	bottom: 128px;
	left: 0px;
	right: 0px;

	label {
		font-family: FredokaOne-Regular;
		font-size: 64px;
		color: white;
		text-shadow: 0px 0px 10px rgba( black, 0.6 );
		text-stroke-color: #000000;
		text-stroke-width: 12px;
	}
}