@import "Colors.scss";

MainMenu {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	pointer-events: all;
	font-size: 26px;
	font-family: Fredoka One;
	font-weight: bold;
	text-transform: uppercase;

	.buttons-parent {
		position: absolute;
		top: 45%;
		left: 8%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		font-size: 48px;
	}

	.customization-parent {
		position: absolute;
		top: 45%;
		right: 12%;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		font-size: 48px;
	}

	.logo {
		position: absolute;
		background-repeat: no-repeat;
		background-size: contain;
		width: 600px;
		top: 8%;
		left: 2%;
		animation: logo 1s ease infinite alternate;
	}

	.version {
		position: absolute;
		bottom: 0;
		right: 0;
		color: white;
		font-size: 18px;
		margin: 24px;
		text-stroke: 10px black;
	}

	.discord {
		position: absolute;
		top: 6%;
		right: 2%;
		margin: 24px;
		animation: discord 1s ease infinite alternate;
	}
}

@keyframes logo {
	0% {
		transform: rotate(-12deg) scale(1.0);
	}

	100% {
		transform: rotate(-10deg) scale(1.1);
	}
}

@keyframes discord {
	0% {
		transform: rotate(4deg) scale(1.0);
	}

	100% {
		transform: rotate(6deg) scale(1.1);
	}
}