@using Sandbox.UI;

@namespace MightyBrick.GraveQuest.UI
@inherits PanelComponent

<root>
    <div class="version">v1.0</div>

    @if (GameManager.Instance.IsCustomizing)
    {
        <div class="customization-parent">
            <MenuButton Text="Next Hat" OnClick=@(() => ChangeHat(1)) />
            <MenuButton Text="Previous Hat" OnClick=@(() => ChangeHat(-1)) />
            <MenuButton Text="Back" OnClick=@(() => OnCustomize()) />
        </div>
        return;
    }

    <img class="logo" src="ui/logo.png" />
    <div class="buttons-parent">
        <MenuButton Text="Start Game" OnClick=@(() => OnStartGame()) />
        <MenuButton Text="Customize" OnClick=@(() => OnCustomize()) />
        <MenuButton Text="Options" OnClick=@(() => OnOptions()) />
        <MenuButton Text="Quit" OnClick=@(() => OnQuit()) />
    </div>

    <div class="discord">
        <img class="icon" src="ui/discord.png" ; />
    </div>
</root>

@code
{
    private void OnStartGame()
    {
        Log.Info("Start Game");
        GameManager.Instance.LoadGameScene();
    }

    private void OnCustomize()
    {
        GameManager.Instance.IsCustomizing = !GameManager.Instance.IsCustomizing;
    }

    private void OnOptions()
    {
        Log.Info("Test");
    }

    private void OnQuit()
    {
        Log.Info("Test");
    }

    private void ChangeHat(int offset)
    {
        Papa.Instance.OffsetHatIndex(offset);
    }
    //protected override int BuildHash() => System.HashCode.Combine( );
}
