@using Sandbox.UI;

@namespace MightyBrick.GraveQuest.UI
@inherits PanelComponent

<root>
    <label class="version">V1.0</label>

    @if (GameManager.Instance.IsCustomizing)
    {
        <div class="customization-parent">
            <div class="color-row">
                @for (int i = 0; i < Papa.Instance.HatColors.Length; i++)
                {
                    <ColorButton Index=@i Color=@Papa.Instance.HatColors[i]/>
                }
            </div>
            <Button class="right" Text="Next Hat" OnClick=@(() => ChangeHat(1)) />
            <Button class="right" Text="Previous Hat" OnClick=@(() => ChangeHat(-1)) />
            <Button class="right" Text="Back" OnClick=@(() => OnCustomize()) />
        </div>
        return;
    }

    <img class="logo" src="ui/logo.png" />
    <div class="buttons-parent">
        <Button class="left bigger" Text="Start Game" OnClick=@(() => OnStartGame()) />
        <Button class="left" Text="Customize" OnClick=@(() => OnCustomize()) />
        <Button class="left" Text="Options" OnClick=@(() => OnOptions()) />
        <Button class="left" Text="Quit" OnClick=@(() => OnQuit()) />
    </div>

    <img class="discord" src="ui/discord.png" OnClick=@(() => OpenDiscord()) />

    <label class="kills">@GameManager.Instance.GlobalKills skeletons laid to rest</label>
    <div class="leaderboard">
        <label class="title">Leaderboard</label>
        <div class="content">
            @foreach (Leaderboards.Board2.Entry entry in GameManager.Instance.GetLeaderboard().Result.Entries)
            {
                <div class="row">
                    <img src="avatar:@entry.SteamId" />
                    <div class="row">
                        <div class="rank">
                            <label>@entry.Rank</label>
                        </div>
                        <div class="name">
                            <label>@entry.DisplayName</label>
                        </div>
                        <div class="score">
                            <label>@entry.Value</label>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</root>

@code
{
    private WebPanel webPanel = null;

    private void OnStartGame()
    {
        GameManager.Instance.LoadGameScene();
    }

    private void OnCustomize()
    {
        GameManager.Instance.IsCustomizing = !GameManager.Instance.IsCustomizing;
        GameManager.Save();
    }

    private void OnOptions()
    {
        GameManager.Instance.ToggleOptionsMenu();
    }

    private void OnQuit()
    {
        Game.Close();
    }

    private void OpenDiscord()
    {
        webPanel?.Delete();

        webPanel = new WebPanel
        {
            Url = "https://discord.gg/nK4fdrTArc"
        };
    }

    private void ChangeHat(int offset)
    {
        Papa.Instance.OffsetHatIndex(offset);
    }

    protected override int BuildHash() => System.HashCode.Combine(GameManager.Instance.GlobalKills);
}
