@using Sandbox.UI;

@namespace MightyBrick.GraveQuest.UI
@inherits PanelComponent

<root>
    <label class="version">V1.0</label>

    @if (GameManager.Instance.IsCustomizing)
    {
        <div class="customization-parent">
            <div class="color-row">
                @for (int i = 0; i < Papa.Instance.HatColors.Length; i++)
                {
                    <ColorButton Index=@i Color=@Papa.Instance.HatColors[i]/>
                }
            </div>
            <Button class="right" Text="Next Hat" OnClick=@(() => ChangeHat(1)) />
            <Button class="right" Text="Previous Hat" OnClick=@(() => ChangeHat(-1)) />
            <Button class="right" Text="Back" OnClick=@(() => OnCustomize()) />
        </div>
        return;
    }

    <img class="logo" src="ui/logo.png" />
    <div class="buttons-parent">
        <Button class="left bigger" Text="Start Game" OnClick=@(() => OnStartGame()) />
        <Button class="left" Text="Customize" OnClick=@(() => OnCustomize()) />
        <Button class="left" Text="Options" OnClick=@(() => OnOptions()) />
        <Button class="left" Text="Quit" OnClick=@(() => OnQuit()) />
    </div>

    <Button class="discord" Text="Discord" OnClick=@(() => Log.Info("Discord")) />
</root>

@code
{
    private void OnStartGame()
    {
        GameManager.Instance.LoadGameScene();
    }

    private void OnCustomize()
    {
        GameManager.Instance.IsCustomizing = !GameManager.Instance.IsCustomizing;
        GameManager.Save();
    }

    private void OnOptions()
    {
        GameManager.Instance.ToggleOptionsMenu();
    }

    private void OnQuit()
    {
        Game.Close();
    }

    private void ChangeHat(int offset)
    {
        Papa.Instance.OffsetHatIndex(offset);
    }

    //protected override int BuildHash() => System.HashCode.Combine( );
}
