@import "Defaults.scss";

MainMenu {
	pointer-events: all;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	.buttons-parent {
		position: absolute;
		top: 45%;
		left: 8%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.customization-parent {
		position: absolute;
		top: 45%;
		right: 12%;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}

	.color-row {
		background-color: $black-transparent;
		border-radius: 8px;
		padding: 12px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		gap: 2px;
		margin-bottom: 16px;
	}

	.color {
		cursor: pointer;
		background-color: #ff0000;
		border: solid 4px black;
		width: 38px;
		height: 38px;
		transition: all 0.05s linear;

		&:hover {
			transform: scale(1.1);
		}

		&:active {
			transform: scale(0.9);
		}
	}

	.logo {
		position: absolute;
		background-repeat: no-repeat;
		background-size: contain;
		width: 600px;
		top: 8%;
		left: 2%;
		animation: logo 1s ease infinite alternate;
	}

	.version {
		position: absolute;
		bottom: 0;
		right: 0;
		margin: 24px;
	}

	.discord {
		position: absolute;
		top: 6%;
		right: 2%;
		margin: 24px;
		animation: discord 1s ease infinite alternate;

		> label {
			color: $dark-purple;
			font-size: 48px;
		}
	}
}

@keyframes logo {
	0% {
		transform: rotate(-12deg) scale(1.0);
	}

	100% {
		transform: rotate(-10deg) scale(1.1);
	}
}

@keyframes discord {
	0% {
		transform: rotate(4deg) scale(1.0);
	}

	100% {
		transform: rotate(6deg) scale(1.1);
	}
}