@using Sandbox;
@using Sandbox.UI;

@namespace MightyBrick.GraveQuest.UI
@inherits PanelComponent

<root>
    <img class="logo" src="ui/logo.png" />
    <div class="version">v1.0</div>
</root>

@code
{
	//protected override int BuildHash() => System.HashCode.Combine( );
}
