@using Sandbox;
@using Sandbox.UI;
@using System.Threading.Tasks;

@namespace MightyBrick.GraveQuest.UI
@inherits Panel

<root>
    <div @ref=SkullPanel>
        <img src="ui/skull.png" />
     </div>
    <label>@CurrentScore</label>
</root>

@code
{
    public int CurrentScore { get; set; } = 0;
    public Panel SkullPanel { get; set; }

    public void Increment()
    {
        CurrentScore++;

        _ = Bruh();
    }

    public async Task Bruh()
    {
        if (!SkullPanel.IsValid())
            return;
        SkullPanel.AddClass("shake");
        await Task.DelayRealtimeSeconds(0.15f);
        SkullPanel.RemoveClass("shake");
    }

    protected override int BuildHash() => System.HashCode.Combine(CurrentScore);
}
