@using Sandbox.UI;

@namespace MightyBrick.GraveQuest.UI
@inherits Panel

<root>
    @if (!string.IsNullOrEmpty(Text))
    {
        <label>@Text</label>
    }
    <div>
        @if (!string.IsNullOrEmpty(Subtext))
        {
            <label class="subtext">@Subtext</label>
        }
        @if (!string.IsNullOrEmpty(ImageURL))
        {
            <img src=@ImageURL />
        }
    </div>
</root>

@code
{
    private string Text { get; set; }
    private string Subtext { get; set; }
    private string ImageURL { get; set; }
    private TimeUntil timeUntilHideText { get; set; }

    public override void Tick()
    {
        if (timeUntilHideText)
        {
            Clear();
        }
    }

    public void Display(string text, float timeVisible, string subtext = null, string imageURL = null)
    {
        Text = text;
        Subtext = subtext;
        ImageURL = imageURL;
        timeUntilHideText = timeVisible;
        FlashClass("shake", 0.5f);
    }

    public void Clear()
    {
        Text = string.Empty;
        Subtext = string.Empty;
        ImageURL = string.Empty;
    }

    protected override int BuildHash() => System.HashCode.Combine(Text, Subtext);
}
