HUD {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	justify-content: center;
	align-items: center;
	color: white;
	font-family: Fredoka One;

	Score {
		position: absolute;
		align-items: center;
		top: 32px;
		left: 64px;

		label {
			font-size: 48px;
			text-shadow: 0px 0px 16px rgba( black, 0.8 );
			text-stroke: 12px black;
			padding-left: 16px;
		}

		img {
			width: 128px;
			height: 128px;
			animation: rotate 0.6s ease infinite alternate;
		}
	}

	Timer {
		position: absolute;
		top: 128px;

		label {
			font-size: 72px;
			text-shadow: 0px 0px 16px rgba( black, 0.8 );
			text-stroke: 14px black;
		}
	}

	Pizza {
		position: absolute;
		align-items: center;
		top: 32px;
		right: 64px;

		div {
			position: relative;
			width: 112px;
			height: 112px;
		}

		img {
			position: absolute;
			top: 0;
			right: 0;
			width: 112px;
			height: 112px;
			animation: grow 1.0s ease infinite alternate;

			&.fg {
				mask-image: linear-gradient(black, white);
			}

			&.bg {
				opacity: 0.1;
			}
		}
	}
}

.shake {
	animation: flash 0.2s ease 1;
}

@keyframes rotate {
	0% {
		transform: rotate(-10deg);
	}

	100% {
		transform: rotate(10deg);
	}
}

@keyframes grow {
	0% {
		transform: scale(1.0) rotate(-5deg);
	}

	25% {
		transform: scale(1.0375) rotate(5deg);
	}

	50% {
		transform: scale(1.075) rotate(-5deg);
	}

	75% {
		transform: scale(1.125) rotate(5deg);
	}

	100% {
		transform: scale(1.15) rotate(-5deg);
	}
}

@keyframes flash {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.5);
	}

	100% {
		transform: scale(1);
	}
}
