InputHintsHUD {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 48px;
	align-items: flex-end;

	.panel {
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: flex-end;
		max-height: 128px;
		gap: 16px;
	}

	InputHint {
		background-color: rgba(black, 0.75);
		border-radius: 8px;
		align-items: center;
		padding: 8px;
		gap: 4px;

		img {
			background-size: contain;
			background-repeat: no-repeat;
			max-height: 38px;
			max-width: 38px;
		}

		label {
			font-family: Fredoka One;
			color: white;
			font-size: 16px;
			text-transform: uppercase;
			padding: 4px;
		}
	}
}
