@using Sandbox.UI;
@using System.Threading.Tasks;

@namespace MightyBrick.GraveQuest.UI
@inherits Panel

<root>
    <div @ref=SkullPanel>
        <img src="ui/skull.png" />
     </div>
    <label>@CurrentScore</label>
</root>

@code
{
    public int CurrentScore { get; set; } = 0;
    public Panel SkullPanel { get; set; }

    public void Increment()
    {
        CurrentScore++;

        if (!SkullPanel.IsValid())
            return;
        SkullPanel.FlashClass("shake", 0.15f);
    }

    protected override int BuildHash() => System.HashCode.Combine(CurrentScore);
}
