@using Sandbox.UI;

@namespace MightyBrick.GraveQuest.UI
@inherits Panel

<root>
    <div>
        <img @ref=SkullPanel src="ui/skull.png" />
     </div>
    <label>@CurrentScore</label>
</root>

@code
{
    private int CurrentScore { get; set; } = 0;
    private Panel SkullPanel { get; set; }

    public void Increment()
    {
        CurrentScore++;

        if (!SkullPanel.IsValid())
            return;
        SkullPanel.FlashClass("shake", 0.15f);
    }

    protected override int BuildHash() => System.HashCode.Combine(CurrentScore);
}
