@using Sandbox.UI;

@namespace MightyBrick.GraveQuest.UI
@inherits Panel

<root>
    <h2 class="tick">Time</h2>
    <h2>@CurrentTime</h2>
</root>

@code
{
    public float CurrentTime { get; set; } = 0;
}
