{
  "Version": 2,
  "Defaults": {
    "solid": "Collide",
    "trigger": "Trigger",
    "ladder": "Ignore",
    "water": "Trigger",
    "car": "Unset",
    "pizza": "Unset",
    "world-border": "Unset",
    "enemy": "Unset",
    "misc": "Unset",
    "sound": "Unset"
  },
  "Pairs": [
    {
      "a": "solid",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "playerclip",
      "r": "Ignore"
    },
    {
      "a": "trigger",
      "b": "solid",
      "r": "Trigger"
    },
    {
      "a": "playerclip",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "car",
      "b": "pizza",
      "r": "Ignore"
    },
    {
      "a": "pizza",
      "b": "world-border",
      "r": "Ignore"
    },
    {
      "a": "car",
      "b": "world-border",
      "r": "Collide"
    },
    {
      "a": "world-border",
      "b": "enemy",
      "r": "Ignore"
    },
    {
      "a": "pizza",
      "b": "misc",
      "r": "Ignore"
    },
    {
      "a": "world-border",
      "b": "misc",
      "r": "Ignore"
    },
    {
      "a": "sound",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "car",
      "b": "enemy",
      "r": "Collide"
    }
  ],
  "__guid": "a0247116-45e9-4afb-ac35-0f85488b7a94",
  "__schema": "configdata",
  "__type": "CollisionRules",
  "__version": 2
}