{
  "Actions": [
    {
      "Name": "Throttle",
      "KeyboardCode": "W",
      "GamepadCode": "RightTrigger",
      "GroupName": "Movement"
    },
    {
      "Name": "Brake",
      "KeyboardCode": "S",
      "GamepadCode": "LeftTrigger",
      "GroupName": "Movement"
    },
    {
      "Name": "Left",
      "KeyboardCode": "A",
      "GamepadCode": "None",
      "GroupName": "Movement"
    },
    {
      "Name": "Right",
      "KeyboardCode": "D",
      "GamepadCode": "None",
      "GroupName": "Movement"
    },
    {
      "Name": "ThrowPizza",
      "KeyboardCode": "space",
      "GamepadCode": "X",
      "GroupName": "Actions"
    },
    {
      "Name": "ZoomIn",
      "KeyboardCode": "mwheelup",
      "GamepadCode": "SwitchRightBumper",
      "GroupName": "Camera"
    },
    {
      "Name": "ZoomOut",
      "KeyboardCode": "mwheeldown",
      "GamepadCode": "SwitchLeftBumper",
      "GroupName": "Camera"
    }
  ],
  "__guid": "187f9a41-94a1-4497-904b-df2ba9901001",
  "__schema": "configdata",
  "__type": "InputSettings",
  "__version": 1
}